.box{

}

.true{
    display: block;
    visibility: visible;
}
.false{
    display: none;
    visibility: collapse;
}

.btn-font{
    size:25px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.counter_label{
   
    font-size: 40px;
    font-weight: bold;
    font-family: serif;
    text-align: center;
    margin: auto;
    padding: 9px;
    transform: translate(0%,10%);
}

.daycount{
   
    border-radius: 50%;
    background-color: lightseagreen;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: auto;
    
}